# Next.js
.next/
out/
build/
.next/cache/

# Node
node_modules/
npm-debug.log*
yarn*
package-lock.json
pnpm-lock.yaml
bun.lockb

# Caches
.turbo/
.swc_cache/

# Environnement
.env
.env.*
!.env.example

# Tests
coverage/
__tests__/__snapshots__/

# Système/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp